---
import "../global.scss";
import Title from "../components/Title.astro";
import Nav from "../components/Nav.astro";
import Implementations from "../components/Implementations.astro";
import Initiative from "../components/Initiative.astro";
import Contact from "../components/Contact.astro";
import People from "../components/People.astro";
import Guidelines from "../components/Guidelines.astro";
import Head from "../components/Head.astro";
const title = "Event Destinations Initiative";
const description =
  "A model for event interoperability between event producers and their consumersto favor better developer experience, robust integration, and infrastructural efficiency";
const tags = [
  "event destinations",
  "send webhooks",
  "event delivery",
  "event destinations",
  "event platform",
];
---

<html lang="en">
  <head>
    <Head />
    <title>{title}</title>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="tags" content={tags.join(",")} />
  </head>
  <body>
    <Nav />
    <main>
      <div></div>
      <article>
        <div class="draft">
          <br />
          <em class="muted" style="color: red"
            >Note: This version is a draft. Some content is missing and some
            links will 404 untils repo's are made public. Please do not be
            distribute.</em
          >
        </div>
        <section id="initiative">
          <Title />
          <div class="divider">Manifesto<hr />01</div>
          <Initiative />
        </section>
        <section id="guidelines">
          <div class="divider">Guidelines<hr />02</div>
          <Guidelines />
        </section>
        <section id="implementations">
          <div class="divider">Implementations<hr />03</div>
          <Implementations />
        </section>
        <section id="people">
          <div class="divider">People<hr />04</div>
          <People />
        </section>
        <section id="contact">
          <div class="divider">Get Involved<hr />05</div>
          <Contact />
        </section>
      </article>
    </main>
  </body>
</html>

<style>
  main {
    width: 100%;
    padding: var(--spacing-8);
    box-sizing: border-box;
    gap: var(--spacing-8);

    article {
      max-width: 744px;
      margin: 0 auto;
      margin-bottom: var(--spacing-20);
    }

    @media (max-width: 744px) {
      padding: var(--spacing-4);
    }
  }

  .divider {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    margin-top: var(--spacing-18);
    margin-bottom: var(--spacing-18);
    color: var(--foreground-neutral-3);
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    line-height: var(--font-line-height-xs);
    letter-spacing: var(--font-letter-spacing-xs);
    hr {
      flex: 1;
      height: 8px;
      border: none;
      background: url(/images/hr-bg.svg) 0% 0% / 3px 8px repeat;
    }
  }
</style>
