---
import "../global.scss";
import Title from "../components/Title.astro";
import Nav from "../components/Nav.astro";
import Implementations from "../components/Implementations.astro";
import Initiative from "../components/Initiative.astro";
import Contact from "../components/Contact.astro";
import People from "../components/People.astro";
import OnThisPage from "../components/OnThisPage.astro";
import Features from "../components/Features.astro";
import Head from "../components/Head.astro";
const title = "Event Destinations Initiative";
const description =
  "Deliver platform events directly to your user’s preferred event destinations: Webhooks, Hookdeck, AWS SQS, RabbitMQ, GCP Pub/Sub, Amazon EventBridge, and Kafka.";
const tags = [
  "event destinations",
  "send webhooks",
  "event delivery",
  "event destinations",
  "event platform",
];
---

<html lang="en">
  <head>
    <Head />
    <title>{title}</title>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="tags" content={tags.join(",")} />
  </head>
  <body>
    <Nav />
    <main>
      <div></div>
      <article>
        <div class="draft">
          <br />
          <em class="muted" style="color: red"
            >Note: This version is a draft and should not be distributed.</em
          >
        </div>
        <section id="initiative">
          <Title />
          <hr />
          <Initiative />
        </section>
        <section id="features">
          <hr />
          <Features />
        </section>
        <section id="implementations">
          <hr />
          <Implementations />
        </section>
        <section id="people">
          <People />
        </section>
        <section id="contact">
          <hr />
          <Contact />
        </section>
      </article>
      <OnThisPage />
    </main>
  </body>
</html>

<style>
  main {
    width: 100%;
    padding: var(--spacing-8);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: var(--spacing-8);

    @media (max-width: 744px) {
      grid-template-columns: 1fr;
    }

    article {
      max-width: 744px;
      margin: 0 auto;
      margin-bottom: var(--spacing-20);
    }

    @media (max-width: 744px) {
      padding: 0 var(--spacing-4);
      aside {
        display: none;
      }
    }
  }
</style>
