<h2 class="bold-m">Contact</h2>
<a class="bold-m" href="mailto:join@eventdestinations.org">join@eventdestinations.org</a>

<style>
  h2 {
    margin-bottom: 0;
  }
  a {
    color: var(--foreground-primary);
    text-decoration: none;
  }
</style>
