---
import { Image } from "astro:assets";
---

<h2>With the support of</h2>

<em style="color: red">Note: Supporters to be added for public release</em>

<style>
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--spacing-1);
  }

  .list-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4);
    border: 1px solid var(--outline-neutral);
    padding: var(--spacing-4);
    height: 100%;
    box-sizing: border-box;
    p {
      margin: 0;
      text-align: center;
    }
  }
</style>
