---
import EDIllustration from "../assets/EDIllustration.astro";
---
<h1 class="bold-l">The Event Destinations Initiative</h1>
<p class="muted regular-m">
  A model to favour better developer experience, robust integration and
  infrastructural efficiency between event producers and their consumers.
</p>
<div class="img-wrapper">
  <EDIllustration />
</div>

<style>
  h1 {
    margin-bottom: var(--spacing-2);
    margin-top: calc(100px - var(--spacing-8));
  }

  p {
    margin-top: 0;
  }
</style>
