<h3>Help shape Event Destinations</h3>

<p class="muted">
  There are a number of ways to contribute the the Event Destinations
  Initiative. You can provide feedback on the guidelines within the
  specification, submit other examples of implementations, or voice your support
  for the initiative.
</p>

<div class="ctas">
  <a
    class="button"
    href="https://github.com/hookdeck/event-destinations?tab=coc-ov-file"
    target="_blank">Code of Conduct &#x2197;</a
  >
  <a
    class="button"
    href="https://github.com/hookdeck/event-destinations/blob/main/specification.md"
    target="_blank">Specification &#x2197;</a
  >
  <a
    class="button"
    href="https://github.com/hookdeck/event-destinations/discussions"
    target="_blank">Join the Discussion &#x2197;</a
  >
</div>

<style>
  .ctas {
    display: flex;
    gap: var(--spacing-6);
    text-transform: uppercase;
    margin-top: var(--spacing-12);

    a {
      display: flex;
      height: 108px;
      padding: var(--spacing-1) var(--spacing-3);
      justify-content: center;
      align-items: center;
      gap: var(--spacing-1);
      flex: 1 0 0;

      border-right: 4px solid #f5f4f1;
      border-bottom: 4px solid #f5f4f1;
      box-shadow:
        4px 4px 0px 0px rgba(255, 255, 255, 0.25) inset,
        4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    }
  }
</style>
