<h3>Help shape Event Destinations</h3>

<p class="muted">
  Contribute the the Event Destinations Initiative by providing feedback on the
  guidelines within the specification, submitting other examples of
  implementations, or sharing your support for the initiative.
</p>

<div class="ctas">
  <a
    class="button"
    href="https://github.com/hookdeck/event-destinations?tab=coc-ov-file"
    target="_blank">Code of Conduct &#x2197;</a
  >
  <a
    class="button"
    href="https://github.com/hookdeck/event-destinations/blob/main/specification.md"
    target="_blank">Specification &#x2197;</a
  >
  <a
    class="button"
    href="https://github.com/hookdeck/event-destinations/discussions"
    target="_blank">Join the Discussion &#x2197;</a
  >
</div>

<style>
  .ctas {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-6);
    text-transform: uppercase;
    margin-top: var(--spacing-12);

    flex-direction: row;

    @media (max-width: 744px) {
      flex-direction: column;
    }

    a {
      display: flex;
      font-size: 15px;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-1);
      flex: 1 0 0;
    }
  }
</style>
