<h2>Guidelines</h2>

<p class="muted">
  While Event Destinations is not a standard, it is a set of guidelines for
  event producers to follow.
</p>

<p><em class="muted">Mandatory:</em></p>

<ul class="list list-primary">
  {
    [
      {
        title: "Support least two event destination types, including webhooks",
      },
      {
        title: "Automatic delivery retries with exponential backoff",
      },
      {
        title: "APIs to create, update and delete destinations",
      },
      {
        title: "Alerts for destination failures",
      },
    ].map(({ title }) => (
      <li>
        <p>{title}</p>
      </li>
    ))
  }
</ul>

<p><em class="muted">Recommended:</em></p>

<ul class="list list-primary">
  {
    [
      {
        title: "At-least-once event delivery guarantee",
      },
      {
        title: "Event topics and topics-based subscriptions",
      },
      {
        title: "Auto-disabling of failing destinations after too many failures",
      },
      {
        title: "Developer-facing UX to configure destinations & inspect events",
      },
      {
        title: "Manual retries via UI or API",
      },
      {
        title: "Filtering based on payload content",
      },
    ].map(({ title }) => (
      <li>
        <p>{title}</p>
      </li>
    ))
  }
</ul>
