<h3>Event Destinations in action</h3>

<p class="muted">
  A number of companies have inspired the Event Destinations Initiative and have
  an existing implementation.
</p>

<div class="list">
  <a href="https://docs.stripe.com/event-destinations" target="_blank">
    <svg
      width="84"
      height="40"
      viewBox="0 0 84 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M74.3068 20.3865C74.3068 15.7843 72.0812 12.1528 67.8273 12.1528C63.5555 12.1528 60.9709 15.7843 60.9709 20.3506C60.9709 25.7618 64.0222 28.4944 68.4017 28.4944C70.5376 28.4944 72.1529 28.009 73.3735 27.3259V23.7304C72.1529 24.3416 70.7529 24.7191 68.976 24.7191C67.235 24.7191 65.6914 24.1079 65.494 21.9865H74.2709C74.2709 21.7528 74.3068 20.818 74.3068 20.3865ZM65.4401 18.6787C65.4401 16.6472 66.6786 15.8023 67.8094 15.8023C68.9042 15.8023 70.0709 16.6472 70.0709 18.6787H65.4401ZM54.0427 12.1528C52.2837 12.1528 51.1529 12.9798 50.5247 13.5551L50.2914 12.4405H46.3427V33.4023L50.8299 32.4495L50.8478 27.3618C51.494 27.8292 52.4453 28.4944 54.0247 28.4944C57.2376 28.4944 60.1632 25.9056 60.1632 20.2068C60.1453 14.9933 57.1837 12.1528 54.0427 12.1528ZM52.9658 24.5393C51.9068 24.5393 51.2786 24.1618 50.8478 23.6944L50.8299 17.0247C51.2965 16.5034 51.9427 16.1438 52.9658 16.1438C54.5991 16.1438 55.7299 17.9775 55.7299 20.3326C55.7299 22.7416 54.6171 24.5393 52.9658 24.5393ZM40.1683 11.0921L44.6735 10.1214V6.47192L40.1683 7.42473V11.0921ZM40.1683 12.4584H44.6735V28.1888H40.1683V12.4584ZM35.3401 13.7888L35.0529 12.4584H31.176V28.1888H35.6632V17.5281C36.7222 16.1438 38.517 16.3955 39.0735 16.5933V12.4584C38.4991 12.2427 36.3991 11.8472 35.3401 13.7888ZM26.3658 8.55732L21.9863 9.49215L21.9683 23.8921C21.9683 26.5528 23.9606 28.5124 26.617 28.5124C28.0888 28.5124 29.1658 28.2427 29.7581 27.9191V24.2697C29.1837 24.5034 26.3478 25.3304 26.3478 22.6697V16.2877H29.7581V12.4584H26.3478L26.3658 8.55732ZM14.2324 17.0247C14.2324 16.3236 14.8068 16.0539 15.7581 16.0539C17.1222 16.0539 18.8453 16.4674 20.2094 17.2045V12.9798C18.7196 12.3865 17.2478 12.1528 15.7581 12.1528C12.1145 12.1528 9.69141 14.0584 9.69141 17.2405C9.69141 22.2023 16.5119 21.4113 16.5119 23.5506C16.5119 24.3775 15.794 24.6472 14.7888 24.6472C13.2991 24.6472 11.3965 24.036 9.88884 23.209V27.4877C11.5581 28.2068 13.2453 28.5124 14.7888 28.5124C18.5222 28.5124 21.0888 26.6607 21.0888 23.4427C21.0709 18.0854 14.2324 19.0382 14.2324 17.0247Z"
        fill="#635BFF"></path>
    </svg>
    <span class="muted"
      >Stripe coined the term "Event Destinations" and was the first to
      implement it -></span
    >
  </a>
  <a
    href="https://shopify.dev/docs/apps/build/webhooks/subscribe"
    target="_blank"
  >
    <svg
      width="99"
      height="28"
      viewBox="0 0 99 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1066_30594)">
        <path
          d="M21.2672 5.3137C21.2474 5.17644 21.1286 5.09801 21.0296 5.09801C20.9306 5.09801 18.9704 5.05879 18.9704 5.05879C18.9704 5.05879 17.327 3.49017 17.1686 3.3137C17.0102 3.15683 16.6934 3.19605 16.5746 3.23527C16.5746 3.23527 16.2578 3.3333 15.743 3.49017C15.6638 3.21566 15.5252 2.88232 15.347 2.52938C14.7728 1.43134 13.9016 0.843109 12.872 0.843109C12.7928 0.843109 12.7334 0.843109 12.6542 0.862717C12.6146 0.823501 12.5948 0.784285 12.5552 0.764677C12.0998 0.294089 11.5256 0.058795 10.8326 0.0784028C9.50595 0.117619 8.17935 1.0784 7.09035 2.76468C6.33795 3.96076 5.76375 5.45095 5.58555 6.60781C4.06095 7.0784 2.99175 7.41174 2.95215 7.41174C2.17995 7.64703 2.16015 7.66664 2.06115 8.39213C2.02155 8.94115 0.00195312 24.4117 0.00195312 24.4117L16.9508 27.3137L24.2966 25.5098C24.2768 25.5098 21.287 5.45095 21.2672 5.3137ZM14.8916 3.76468C14.4956 3.88232 14.06 4.01958 13.5848 4.17644C13.5848 3.50978 13.4858 2.5686 13.1888 1.78429C14.1986 1.94115 14.6936 3.0784 14.8916 3.76468ZM12.6938 4.43134C11.8028 4.70585 10.8326 4.99997 9.86235 5.29409C10.1396 4.25487 10.6544 3.23527 11.288 2.54899C11.5256 2.29409 11.8622 2.01958 12.2384 1.86272C12.6344 2.62742 12.7136 3.70585 12.6938 4.43134ZM10.8722 0.960756C11.189 0.960756 11.4464 1.01958 11.6642 1.17644C11.3078 1.35291 10.9514 1.62742 10.6346 1.98036C9.78315 2.88232 9.12975 4.27448 8.87235 5.62742C8.06055 5.88232 7.26855 6.11762 6.55575 6.3333C7.03095 4.19605 8.83275 1.01958 10.8722 0.960756Z"
          fill="#95BF47"></path>
        <path
          d="M21.028 5.09799C20.929 5.09799 18.9688 5.05877 18.9688 5.05877C18.9688 5.05877 17.3254 3.49015 17.167 3.31368C17.1076 3.25485 17.0284 3.21564 16.9492 3.21564V27.3137L24.295 25.5098C24.295 25.5098 21.3052 5.45093 21.2854 5.31368C21.2458 5.17642 21.127 5.09799 21.028 5.09799Z"
          fill="#5E8E3E"></path>
        <path
          d="M12.8712 8.84307L12.0198 11.9999C12.0198 11.9999 11.0694 11.5686 9.94083 11.647C8.27763 11.745 8.27763 12.7842 8.27763 13.0391C8.37663 14.4509 12.1188 14.7646 12.3366 18.0784C12.495 20.6862 10.9506 22.4705 8.69343 22.6078C6.00063 22.745 4.51562 21.1764 4.51562 21.1764L5.08983 18.7646C5.08983 18.7646 6.59462 19.8823 7.78262 19.8039C8.55482 19.7646 8.85183 19.1176 8.81223 18.6862C8.69343 16.8431 5.64423 16.9607 5.44623 13.9215C5.28783 11.3725 6.97083 8.80386 10.6932 8.56856C12.1386 8.47052 12.8712 8.84307 12.8712 8.84307Z"
          fill="white"></path>
        <path
          d="M34.2368 15.5686C33.3854 15.1176 32.9498 14.7255 32.9498 14.1961C32.9498 13.5294 33.5636 13.098 34.514 13.098C35.6228 13.098 36.6128 13.549 36.6128 13.549L37.385 11.1961C37.385 11.1961 36.6722 10.647 34.5734 10.647C31.643 10.647 29.6036 12.3137 29.6036 14.647C29.6036 15.9804 30.554 16.9804 31.8212 17.7059C32.8508 18.2745 33.2072 18.6862 33.2072 19.2941C33.2072 19.9215 32.6924 20.4313 31.742 20.4313C30.3362 20.4313 28.9898 19.7059 28.9898 19.7059L28.1582 22.0588C28.1582 22.0588 29.3858 22.8823 31.4648 22.8823C34.4744 22.8823 36.6524 21.4117 36.6524 18.7647C36.6326 17.3333 35.5436 16.3137 34.2368 15.5686Z"
          fill="black"></path>
        <path
          d="M46.2362 10.6078C44.7512 10.6078 43.583 11.3137 42.692 12.3725L42.6524 12.3529L43.9394 5.68622H40.5932L37.3262 22.6666H40.6724L41.7812 16.8627C42.2168 14.6666 43.3652 13.3137 44.4344 13.3137C45.1868 13.3137 45.4838 13.8235 45.4838 14.549C45.4838 14.9999 45.4442 15.5686 45.3452 16.0196L44.078 22.6666H47.4242L48.731 15.8039C48.8696 15.0784 48.9686 14.2156 48.9686 13.6274C48.9884 11.745 47.9984 10.6078 46.2362 10.6078Z"
          fill="black"></path>
        <path
          d="M56.5716 10.6078C52.5324 10.6078 49.8594 14.2156 49.8594 18.2352C49.8594 20.8039 51.4632 22.8823 54.4728 22.8823C58.4328 22.8823 61.1058 19.3725 61.1058 15.2548C61.1256 12.8823 59.7198 10.6078 56.5716 10.6078ZM54.9282 20.3529C53.7798 20.3529 53.3046 19.3921 53.3046 18.1764C53.3046 16.2745 54.2946 13.1764 56.1162 13.1764C57.3042 13.1764 57.7002 14.196 57.7002 15.1764C57.7002 17.2156 56.6904 20.3529 54.9282 20.3529Z"
          fill="black"></path>
        <path
          d="M69.6994 10.6078C67.4422 10.6078 66.1552 12.5882 66.1552 12.5882H66.1156L66.3136 10.8039H63.3436C63.205 11.9999 62.9278 13.8431 62.6704 15.2156L60.334 27.3725H63.6802L64.6108 22.4509H64.69C64.69 22.4509 65.383 22.8823 66.6502 22.8823C70.5904 22.8823 73.1644 18.8823 73.1644 14.8431C73.1644 12.6078 72.1546 10.6078 69.6994 10.6078ZM66.4918 20.3921C65.6206 20.3921 65.1058 19.9019 65.1058 19.9019L65.6602 16.8039C66.0562 14.7254 67.1452 13.3529 68.3134 13.3529C69.343 13.3529 69.6598 14.2941 69.6598 15.1764C69.6598 17.3333 68.3728 20.3921 66.4918 20.3921Z"
          fill="black"></path>
        <path
          d="M77.9558 5.84308C76.8866 5.84308 76.0352 6.68622 76.0352 7.76465C76.0352 8.74504 76.6688 9.43131 77.6192 9.43131H77.6588C78.7082 9.43131 79.5992 8.72543 79.619 7.50975C79.619 6.54896 78.9656 5.84308 77.9558 5.84308Z"
          fill="black"></path>
        <path
          d="M73.2617 22.647H76.6079L78.8849 10.8823H75.5189L73.2617 22.647Z"
          fill="black"></path>
        <path
          d="M87.42 10.8627H85.0836L85.2024 10.3137C85.4004 9.17642 86.0736 8.17642 87.2022 8.17642C87.7962 8.17642 88.2714 8.35289 88.2714 8.35289L88.9248 5.74505C88.9248 5.74505 88.3506 5.45093 87.1032 5.45093C85.9152 5.45093 84.7272 5.78426 83.8164 6.54897C82.668 7.50975 82.1334 8.90191 81.876 10.3137L81.777 10.8627H80.2128L79.7178 13.3725H81.282L79.5 22.6666H82.8462L84.6282 13.3725H86.9448L87.42 10.8627Z"
          fill="black"></path>
        <path
          d="M95.498 10.8823C95.498 10.8823 93.3992 16.1176 92.4686 18.9804H92.429C92.3696 18.0588 91.5974 10.8823 91.5974 10.8823H88.073L90.0926 21.6862C90.1322 21.9215 90.1124 22.0784 90.0134 22.2353C89.6174 22.9804 88.964 23.7059 88.1918 24.2353C87.5582 24.6862 86.8454 24.9804 86.291 25.1764L87.2216 28C87.8948 27.8627 89.3204 27.2941 90.5084 26.196C92.033 24.7843 93.4586 22.5882 94.904 19.6078L99.0026 10.8823H95.498Z"
          fill="black"></path>
      </g>
      <defs>
        <clipPath id="clip0_1066_30594">
          <rect
            width="99"
            height="28"
            fill="white"
            transform="translate(0.00195312)"></rect>
        </clipPath>
      </defs>
    </svg>
    <span class="muted"
      >Shopify support event delivery to AWS EventBridge, GCP Pub/Sub, and
      webhooks -></span
    ></a
  >

  <a
    href="https://www.twilio.com/docs/events/event-streams/sink-resource"
    target="_blank"
  >
    <svg
      width="94"
      height="28"
      viewBox="0 0 94 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1166_379)">
        <path
          d="M13.536 10.5467C13.536 12.1333 12.22 13.44 10.622 13.44C9.024 13.44 7.708 12.1333 7.708 10.5467C7.708 8.96 9.024 7.65333 10.622 7.65333C12.22 7.65333 13.536 8.96 13.536 10.5467ZM10.622 14.56C9.024 14.56 7.708 15.8667 7.708 17.4533C7.708 19.04 9.024 20.3467 10.622 20.3467C12.22 20.3467 13.536 19.04 13.536 17.4533C13.536 15.8667 12.22 14.56 10.622 14.56ZM28.2 14C28.2 21.7467 21.902 28 14.1 28C6.298 28 0 21.7467 0 14C0 6.25333 6.298 0 14.1 0C21.902 0 28.2 6.25333 28.2 14ZM24.44 14C24.44 8.30667 19.834 3.73333 14.1 3.73333C8.366 3.73333 3.76 8.30667 3.76 14C3.76 19.6933 8.366 24.2667 14.1 24.2667C19.834 24.2667 24.44 19.6933 24.44 14ZM17.578 14.56C15.98 14.56 14.664 15.8667 14.664 17.4533C14.664 19.04 15.98 20.3467 17.578 20.3467C19.176 20.3467 20.492 19.04 20.492 17.4533C20.492 15.8667 19.176 14.56 17.578 14.56ZM17.578 7.65333C15.98 7.65333 14.664 8.96 14.664 10.5467C14.664 12.1333 15.98 13.44 17.578 13.44C19.176 13.44 20.492 12.1333 20.492 10.5467C20.492 8.96 19.176 7.65333 17.578 7.65333ZM66.082 5.50667C66.176 5.50667 66.27 5.6 66.364 5.69333V8.68C66.364 8.86667 66.176 8.96 66.082 8.96H61.1C60.912 8.96 60.818 8.77333 60.818 8.68V5.78667C60.818 5.6 61.006 5.50667 61.1 5.50667H66.082ZM65.988 9.70667H56.4C56.306 9.70667 56.118 9.8 56.118 9.98667L54.896 14.6533L54.802 14.9333L53.298 9.98667C53.298 9.89333 53.11 9.70667 53.016 9.70667H49.256C49.162 9.70667 48.974 9.8 48.974 9.98667L47.564 14.6533L47.47 14.9333L47.376 14.6533L46.812 12.32L46.248 9.98667C46.248 9.89333 46.06 9.70667 45.966 9.70667H38.446V5.69333C38.446 5.6 38.258 5.41333 38.07 5.50667L33.37 7C33.182 7 33.088 7.09333 33.088 7.28V9.8H31.866C31.772 9.8 31.584 9.89333 31.584 10.08V13.6267C31.584 13.72 31.678 13.9067 31.866 13.9067H33.088V18.2933C33.088 21.3733 34.78 22.7733 37.882 22.7733C39.198 22.7733 40.42 22.4933 41.266 22.0267V18.2933C41.266 18.1067 41.078 18.0133 40.984 18.1067C40.514 18.2933 40.044 18.3867 39.668 18.3867C38.822 18.3867 38.352 18.0133 38.352 17.08V13.9067H41.078C41.172 13.9067 41.36 13.8133 41.36 13.6267V10.64L44.932 22.4C44.932 22.4933 45.12 22.68 45.214 22.68H49.162C49.256 22.68 49.444 22.5867 49.444 22.4L51.136 17.1733L51.982 19.88L52.734 22.4C52.734 22.4933 52.922 22.68 53.016 22.68H56.964C57.058 22.68 57.246 22.5867 57.246 22.4L60.818 10.64V22.4C60.818 22.4933 60.912 22.68 61.1 22.68H65.894C65.988 22.68 66.176 22.5867 66.176 22.4V9.98667C66.176 9.89333 66.082 9.70667 65.988 9.70667ZM72.286 5.50667H67.492C67.398 5.50667 67.21 5.6 67.21 5.78667V22.3067C67.21 22.4 67.304 22.5867 67.492 22.5867H72.286C72.38 22.5867 72.568 22.4933 72.568 22.3067V5.69333C72.568 5.6 72.474 5.50667 72.286 5.50667ZM78.678 5.50667H73.696C73.602 5.50667 73.414 5.6 73.414 5.78667V8.68C73.414 8.77333 73.508 8.96 73.696 8.96H78.678C78.772 8.96 78.96 8.86667 78.96 8.68V5.69333C78.96 5.6 78.866 5.50667 78.678 5.50667ZM78.584 9.70667H73.79C73.696 9.70667 73.508 9.8 73.508 9.98667V22.2133C73.508 22.3067 73.602 22.4933 73.79 22.4933H78.584C78.678 22.4933 78.866 22.4 78.866 22.2133V9.98667C78.866 9.89333 78.772 9.70667 78.584 9.70667ZM93.718 16.0533C93.718 19.6 90.71 22.68 86.48 22.68C82.344 22.68 79.336 19.6 79.336 16.0533C79.336 12.5067 82.344 9.42667 86.574 9.42667C90.71 9.42667 93.718 12.5067 93.718 16.0533ZM88.642 16.1467C88.642 14.84 87.702 13.8133 86.574 13.9067C85.352 13.9067 84.506 14.9333 84.506 16.1467C84.506 17.36 85.446 18.3867 86.574 18.3867C87.796 18.3867 88.642 17.36 88.642 16.1467Z"
          fill="#F22F46"></path>
      </g>
      <defs>
        <clipPath id="clip0_1166_379">
          <rect width="94" height="28" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    <span class="muted"
      >Twilio supports Event Destinations through "Sinks" -></span
    >
  </a>
  <a href="https://github.com/hookdeck/event-destinations" target="_blank">
    <svg
      width="150"
      height="29"
      viewBox="0 0 150 29"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.5"
        y="0.5"
        width="148.8"
        height="27.5"
        stroke="#CCCCCC"
        stroke-dasharray="4 4"></rect>
      <path
        d="M130.301 20.5V18H127.801V10.5H130.301V8H135.301V10.5H137.801V18H135.301V20.5H130.301ZM130.301 17.9H135.301V10.6H130.301V17.9Z"
        fill="#A3A093"></path>
      <path
        d="M115.199 10.5V8H122.699V10.5H115.199ZM112.699 18V10.5H115.199V18H112.699ZM120.199 18V15.5H117.699V13H122.699V18H120.199ZM115.199 20.5V18H120.199V20.5H115.199Z"
        fill="#A3A093"></path>
      <path
        d="M100.102 20.5V18H97.6016V10.5H100.102V8H105.102V10.5H107.602V18H105.102V20.5H100.102ZM100.102 17.9H105.102V10.6H100.102V17.9Z"
        fill="#A3A093"></path>
      <path d="M85 20.5V8H87.5V18H92.5V20.5H85Z" fill="#A3A093"></path>
      <path
        d="M59.8008 20.5V8H67.3008V10.5H69.8008V13H67.3008V18H69.8008V20.5H67.3008V18H64.8008V15.5H62.3008V20.5H59.8008ZM62.3008 13H67.2008V10.5H62.3008V13Z"
        fill="#A3A093"></path>
      <path
        d="M47.1992 20.5V18H44.6992V8H47.1992V18H52.1992V20.5H47.1992ZM52.1992 18V8H54.6992V18H52.1992Z"
        fill="#A3A093"></path>
      <path
        d="M32.1016 20.5V18H29.6016V10.5H32.1016V8H37.1016V10.5H39.6016V18H37.1016V20.5H32.1016ZM32.1016 17.9H37.1016V10.6H32.1016V17.9Z"
        fill="#A3A093"></path>
      <path
        d="M17 20.5V13H14.5V10.5H12V8H14.5V10.5H17V13H19.5V20.5H17ZM22 10.5V8H24.5V10.5H22ZM19.5 13V10.5H22V13H19.5Z"
        fill="#A3A093"></path>
    </svg>

    <span class="muted">Open a PR to add your implementation -></span>
  </a>
</div>

<div class="outpost">
  <svg
    width="112"
    height="18"
    viewBox="0 0 112 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M-0.00195312 8.13261C-0.00195312 7.79562 0.272379 7.52244 0.610785 7.52244H5.51269C5.8511 7.52244 6.12543 7.79562 6.12543 8.13261V9.35295C6.12543 9.68994 5.8511 9.96312 5.51269 9.96312H0.610785C0.272379 9.96312 -0.00195312 9.68994 -0.00195312 9.35295V8.13261Z"
      fill="#141412"></path>
    <path
      d="M8.57617 8.13261C8.57617 7.79562 8.8505 7.52244 9.18891 7.52244H14.0908C14.4292 7.52244 14.7036 7.79562 14.7036 8.13261V9.35295C14.7036 9.68994 14.4292 9.96312 14.0908 9.96312H9.18891C8.8505 9.96312 8.57617 9.68994 8.57617 9.35295V8.13261Z"
      fill="#141412"></path>
    <path
      d="M14.7063 13.014C14.7063 12.677 14.9806 12.4038 15.319 12.4038H20.221C20.5594 12.4038 20.8337 12.677 20.8337 13.014V14.2343C20.8337 14.5713 20.5594 14.8445 20.221 14.8445H15.319C14.9806 14.8445 14.7063 14.5713 14.7063 14.2343V13.014Z"
      fill="#141412"></path>
    <path
      d="M6.12818 3.25126C6.12818 2.91427 6.40252 2.64109 6.74092 2.64109H11.6428C11.9812 2.64109 12.2556 2.91427 12.2556 3.25126V4.4716C12.2556 4.80858 11.9812 5.08177 11.6428 5.08177H6.74092C6.40252 5.08177 6.12818 4.80858 6.12818 4.4716V3.25126Z"
      fill="#A3A093"></path>
    <path
      d="M14.7063 3.25126C14.7063 2.91427 14.9806 2.64109 15.319 2.64109H20.221C20.5594 2.64109 20.8337 2.91427 20.8337 3.25126V4.4716C20.8337 4.80858 20.5594 5.08177 20.221 5.08177H15.319C14.9806 5.08177 14.7063 4.80858 14.7063 4.4716V3.25126Z"
      fill="#141412"></path>
    <path
      d="M6.12818 13.014C6.12818 12.677 6.40252 12.4038 6.74092 12.4038H11.6428C11.9812 12.4038 12.2556 12.677 12.2556 13.014V14.2343C12.2556 14.5713 11.9812 14.8445 11.6428 14.8445H6.74092C6.40252 14.8445 6.12818 14.5713 6.12818 14.2343V13.014Z"
      fill="#A3A093"></path>
    <path
      d="M35.1268 14.522C33.7379 14.522 32.6282 14.122 31.7976 13.322C30.9806 12.522 30.5721 11.4305 30.5721 10.0475V7.44407C30.5721 6.04746 30.9806 4.95593 31.7976 4.16949C32.6146 3.36949 33.7243 2.96949 35.1268 2.96949C36.5293 2.96949 37.639 3.36949 38.456 4.16949C39.273 4.95593 39.6815 6.04746 39.6815 7.44407V10.0475C39.6815 11.4305 39.2662 12.522 38.4356 13.322C37.6186 14.122 36.5157 14.522 35.1268 14.522ZM35.1268 12.5898C35.8621 12.5898 36.434 12.3864 36.8425 11.9797C37.2646 11.5593 37.4756 10.9627 37.4756 10.1898V7.30169C37.4756 6.52881 37.2646 5.93898 36.8425 5.5322C36.434 5.11186 35.8621 4.9017 35.1268 4.9017C34.3915 4.9017 33.8128 5.11186 33.3907 5.5322C32.9822 5.93898 32.778 6.52881 32.778 7.30169V10.1898C32.778 10.9627 32.9822 11.5593 33.3907 11.9797C33.8128 12.3864 34.3915 12.5898 35.1268 12.5898Z"
      fill="#141412"></path>
    <path
      d="M47.1489 14.5424C45.7873 14.5424 44.7048 14.1559 43.9014 13.383C43.1116 12.5966 42.7168 11.5322 42.7168 10.1898V3.15254H44.9226V10.1695C44.9226 10.9288 45.1201 11.5322 45.5149 11.9797C45.9098 12.4136 46.4545 12.6305 47.1489 12.6305C47.857 12.6305 48.4084 12.4136 48.8033 11.9797C49.2118 11.5322 49.416 10.9288 49.416 10.1695V3.15254H51.6219V10.1898C51.6219 11.5322 51.2134 12.5966 50.3964 13.383C49.5931 14.1559 48.5106 14.5424 47.1489 14.5424Z"
      fill="#141412"></path>
    <path
      d="M60.3352 14.339C59.3412 14.339 58.5515 14.0542 57.966 13.4847C57.3805 12.9153 57.0877 12.1424 57.0877 11.1661V5.14576H53.9219V3.15254H57.0877V0H59.2936V3.15254H63.8279V5.14576H59.2936V11.1458C59.2936 11.4983 59.3957 11.7898 59.6 12.0203C59.8042 12.2373 60.0833 12.3458 60.4374 12.3458H63.7257V14.339H60.3352Z"
      fill="#141412"></path>
    <path
      d="M66.8427 18V3.15254H69.0282V5.2678C69.1779 4.53559 69.5183 3.9661 70.0494 3.55932C70.594 3.15254 71.2749 2.94915 72.0918 2.94915C73.2084 2.94915 74.1003 3.33559 74.7675 4.10847C75.4347 4.8678 75.7683 5.88475 75.7683 7.15932V10.3119C75.7683 11.6 75.4347 12.6305 74.7675 13.4034C74.1003 14.1627 73.2084 14.5424 72.0918 14.5424C71.2749 14.5424 70.594 14.3322 70.0494 13.9119C69.5047 13.478 69.1575 12.8881 69.0077 12.1424H68.9873L69.0486 14.8068V18H66.8427ZM71.3157 12.6305C72.0238 12.6305 72.5752 12.4475 72.9701 12.0814C73.365 11.7017 73.5624 11.0983 73.5624 10.2712V7.2C73.5624 6.38644 73.365 5.79661 72.9701 5.43051C72.5752 5.05085 72.0238 4.86102 71.3157 4.86102C70.6077 4.86102 70.0494 5.07797 69.6409 5.51186C69.246 5.9322 69.0486 6.52881 69.0486 7.30169V10.1695C69.0486 10.9559 69.246 11.5661 69.6409 12C70.0494 12.4203 70.6077 12.6305 71.3157 12.6305Z"
      fill="#141412"></path>
    <path
      d="M83.297 14.522C81.9081 14.522 80.7984 14.122 79.9678 13.322C79.1508 12.522 78.7423 11.4305 78.7423 10.0475V7.44407C78.7423 6.04746 79.1508 4.95593 79.9678 4.16949C80.7848 3.36949 81.8945 2.96949 83.297 2.96949C84.6995 2.96949 85.8092 3.36949 86.6262 4.16949C87.4432 4.95593 87.8517 6.04746 87.8517 7.44407V10.0475C87.8517 11.4305 87.4364 12.522 86.6058 13.322C85.7888 14.122 84.6859 14.522 83.297 14.522ZM83.297 12.5898C84.0323 12.5898 84.6042 12.3864 85.0126 11.9797C85.4348 11.5593 85.6458 10.9627 85.6458 10.1898V7.30169C85.6458 6.52881 85.4348 5.93898 85.0126 5.5322C84.6042 5.11186 84.0323 4.9017 83.297 4.9017C82.5617 4.9017 81.983 5.11186 81.5609 5.5322C81.1524 5.93898 80.9482 6.52881 80.9482 7.30169V10.1898C80.9482 10.9627 81.1524 11.5593 81.5609 11.9797C81.983 12.3864 82.5617 12.5898 83.297 12.5898Z"
      fill="#141412"></path>
    <path
      d="M94.8902 14.522C93.5966 14.522 92.5822 14.2305 91.8469 13.6475C91.1116 13.0644 90.744 12.2508 90.744 11.2068H92.9294C92.9294 11.6814 93.0996 12.0542 93.44 12.3254C93.7804 12.5831 94.2638 12.7119 94.8902 12.7119H95.7889C96.4288 12.7119 96.9258 12.5831 97.2799 12.3254C97.6339 12.0542 97.8109 11.6746 97.8109 11.1864C97.8109 10.3322 97.3548 9.84407 96.4425 9.72203L93.4809 9.31525C92.6503 9.20678 92.0103 8.88136 91.561 8.33898C91.1116 7.78305 90.887 7.06441 90.887 6.18305C90.887 5.1661 91.2274 4.37966 91.9082 3.82373C92.6026 3.25424 93.583 2.96949 94.8493 2.96949H95.7684C96.9395 2.96949 97.8858 3.24746 98.6075 3.80339C99.3428 4.35932 99.7308 5.09153 99.7717 6H97.5658C97.5386 5.6339 97.3616 5.33559 97.0348 5.10508C96.7216 4.86102 96.2995 4.73898 95.7684 4.73898H94.8493C94.2638 4.73898 93.8077 4.8678 93.4809 5.12542C93.1677 5.38305 93.0111 5.72203 93.0111 6.14237C93.0111 6.84746 93.3992 7.25424 94.1753 7.36271L96.9531 7.72881C98.9547 8 99.9555 9.14576 99.9555 11.1661C99.9555 12.2373 99.5947 13.0644 98.873 13.6475C98.1513 14.2305 97.1233 14.522 95.7889 14.522H94.8902Z"
      fill="#141412"></path>
    <path
      d="M108.505 14.339C107.511 14.339 106.722 14.0542 106.136 13.4847C105.551 12.9153 105.258 12.1424 105.258 11.1661V5.14576H102.092V3.15254H105.258V0H107.464V3.15254H111.998V5.14576H107.464V11.1458C107.464 11.4983 107.566 11.7898 107.77 12.0203C107.974 12.2373 108.254 12.3458 108.608 12.3458H111.896V14.339H108.505Z"
      fill="#141412"></path>
  </svg>

  <span class="muted">
    Outpost is self-hosted and open-source infrastructure that enables event
    producers to add Event Destinations to their platforms.
  </span>
  <a class="button" href="https://github.com/hookdeck/outpost" target="_blank"
    >Get started with Outpost -></a
  >
</div>

<style lang="scss">
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-1);

    @media (max-width: 744px) {
      grid-template-columns: 1fr;
    }

    > a:only-child {
      grid-column: 1 / -1;
    }

    a {
      flex: 1;
      border: 1px solid var(--outline-neutral);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-10);
      padding-top: var(--spacing-14);
      padding-bottom: var(--spacing-8);
      padding-left: var(--spacing-4);
      padding-right: var(--spacing-4);
      text-decoration: none;

      &:hover {
        border-color: var(--outline-neutral-hover);
        cursor: pointer;
        background: url(/images/hover-bg.svg) 0% 0% / 7px 7px repeat;

        span {
          color: var(--foreground-neutral);
        }
      }

      span {
        max-width: 300px;
        text-align: center;
      }
    }
  }

  .outpost {
    border: 1px dashed var(--outline-neutral);
    padding: var(--spacing-4);
    padding-top: var(--spacing-9);
    padding-bottom: var(--spacing-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-6);
    margin-top: var(--spacing-12);
    span {
      max-width: 552px;
      text-align: center;
    }
  }
</style>
