---
import { Image } from "astro:assets";

const { image, name, description } = Astro.props;
---

<blockquote>
  <div class="quote-author">
    <span class="avatar-wrapper">
      <Image class="avatar" src={image} width={40} height={40} alt={name} />
    </span><span class="details"
      >{name}<br /><span class="muted">{description}</span></span
    >
  </div>
  <slot />
</blockquote>

<style>
  blockquote {
    border: 1px dashed var(--outline-neutral);
    padding: var(--spacing-9) var(--spacing-4) var(--spacing-6) var(--spacing-4);
    margin: 0;
    height: 100%;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    position: relative;

    .quote-author {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
      position: absolute;
      top: -20px;
      left: var(--spacing-2);
      background-color: var(--background);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);
      line-height: var(--font-line-height-s);
      letter-spacing: var(--font-letter-spacing-s);
      font-style: normal;
      padding: 0 var(--spacing-2);

      .avatar-wrapper {
        border: 2px solid rgba(0, 68, 204, 0.5);
        border-style: inset;
        width: 40px;
        height: 40px;

        .avatar {
          filter: grayscale(100%);
        }
      }

      .details {
        text-transform: uppercase;
      }
    }
  }
</style>
